@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* FONTS */
/* h1 */
h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 1260px;
}

/*  HEADER */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0rem;
  z-index: 1000;
  height: 6.25rem;
  width: 100%;
  background-color: white;
}

header {
  border: solid 4px green;
}

/* HEADER */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0rem;
  z-index: 1000;
  height: 5.2rem;
  width: 100%;
  background-color: white;
}
nav .logo {
  padding: 0.4rem 0 0 5rem;
}
nav .logo img {
  width: 8rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.4rem;
  padding-right: 5rem;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: #1D1D1D;
  font-family: "Montserrat", sans-serif;
  line-height: 1.675rem;
  font-size: 14px;
  font-weight: 300;
}
.navbar li a:hover {
  color: #ABAE6C;
}

/* Main Container Index*/
.main-container {
  display: flex;
  flex-direction: row;
  gap: none;
  align-items: center;
  justify-content: center;
  height: 45rem;
  margin-bottom: 6rem;
}
.main-container .box-white {
  display: flex;
  width: 60%;
  height: 50rem;
  justify-content: center;
  align-content: center;
}
.main-container .box-white .box-white-items {
  width: 70%;
  padding-left: 6rem;
  padding-top: 13rem;
  max-width: 538px;
}
.main-container .box-white .box-white-items h1 {
  padding: 0rem 2rem 0.5rem 0rem;
  font-size: 70px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.main-container .box-white .box-white-items h3 {
  padding: 0.5rem 3rem 0.7rem 0rem;
  font-weight: 300;
  font-size: 24px;
}
.main-container .box-white .box-white-items p {
  padding: 0.7rem 2.5rem 0.5rem 0rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}
.main-container .box-white .box-white-items button {
  margin: 2rem 3rem 0rem 0rem;
  padding: 0.4rem;
  background-color: rgb(172, 175, 58);
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  box-shadow: none;
  border: transparent;
  width: 130px;
  height: 37px;
  font-size: 13px;
  font-weight: 300;
}
.main-container .box-beige {
  width: 40%;
  background-color: #E6D9CE;
  height: 45rem;
}
.main-container .box-beige .mia {
  position: absolute;
  margin-top: 7rem;
  width: 21.5625rem;
  height: 30rem;
  margin-left: -7.3rem;
  z-index: 5;
}
.main-container .box-beige .star-white {
  position: absolute;
  top: 40rem;
  right: 14.3rem;
  width: 120px;
  height: 120px;
  rotate: 70deg;
  z-index: 10;
}

.pattern-design {
  background-color: #E6D9CE;
}
.pattern-design h2 {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 2rem;
}
.pattern-design p {
  text-align: center;
  margin: 2rem auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

.star-green img {
  position: absolute;
  top: 116.8rem;
  right: 1.8rem;
  width: 124x;
  height: 124px;
  z-index: 10;
}

.gallery h2 {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.gallery p {
  text-align: center;
  margin: 2rem auto;
  font-weight: 600;
  font-size: 14px;
}
.gallery .gallery-items {
  max-width: 77rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.gallery .gallery-items a img {
  width: 18.75rem;
  height: 18.75rem;
}
.gallery .gallery-items a:hover {
  translate: transform;
  transform: scale(98%);
  transition-duration: 0.5s;
  opacity: 0.9;
  filter: brightness(60%);
}

.my-story {
  display: flex;
  background-color: #ACAF3A;
  height: 345px;
}
.my-story .my {
  display: flex;
}
.my-story .my img {
  width: 180px;
  height: 270px;
  margin-left: 9rem;
  margin-top: 2rem;
}
.my-story .my h2 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 3rem;
  margin-left: -2rem;
  text-align: start;
}
.my-story p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: white;
}
.my-story a {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.carousel-inner {
  margin-left: 10rem;
  display: flex;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 580px;
  width: 400px;
}
.carousel-item .d-flex {
  gap: 1.5rem;
}
.carousel-item .d-flex a {
  display: flex;
}
.carousel-item .d-flex a img {
  width: 385px !important;
  height: 530px;
}
.carousel-item .d-flex a img:hover {
  translate: transform;
  transform: scale(1.1);
  transition-duration: 0.8s;
  opacity: 0.9;
  filter: brightness(60%);
}

.carousel-control-prev, .carousel-control-next {
  background-color: lightgray !important;
  width: 70px !important;
  height: 70px !important;
  margin: 18% 0 0 11.5rem;
}

.carousel-control-next {
  margin: auto;
  opacity: 75% !important;
}
.carousel-control-next:hover {
  opacity: 0.9 !important;
}

/*# sourceMappingURL=style.css.map */
