/* Main Container Index*/

.main-container{
    display: flex;
    flex-direction: row;
    gap: none;
    align-items: center;
    justify-content: center;
    height: 45rem;
    margin-bottom: 6rem;
    
    .box-white{
        display: flex;
        width: 60%;
        height: 50rem;
        justify-content: center;
        align-content: center;
        
        .box-white-items{
            width: 70%;
            padding-left: 6rem;
            padding-top: 13rem;
            max-width: 538px;
            
            h1{
                padding: 0rem 2rem 0.5rem 0rem;
                font-size: 70px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;


            }
            h3{
                padding: 0.5rem 3rem 0.7rem 0rem;
                font-weight: 300;
                font-size: 24px;
            }
            p{
                padding: 0.7rem 2.5rem 0.5rem 0rem;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.6rem;
                letter-spacing: 0.5px;
            }
            button{
                margin: 2rem 3rem 0rem 0rem;
                padding: 0.4rem;
                background-color: rgb(172, 175, 58);
                font-family: 'Montserrat', sans-serif;
                color: white;
                text-align: center;
                letter-spacing: 1px;
                box-shadow: none;
                border: transparent;
                width: 130px;
                height: 37px;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
    .box-beige{
        width: 40%;
        background-color: #E6D9CE;
        height: 45rem;
        
        .mia{
            position: absolute;
            margin-top: 7rem;
            width: 21.5625rem;
            height: 30rem;
            margin-left: -7.3rem;
            z-index: 5;
        }
        .star-white{
        position: absolute;
        top: 40rem;
        right: 14.3rem;
        width: 120px;
        height: 120px;
        rotate: 70deg;
        z-index: 10;
        }
    }
}







