.gallery{
    p{
        text-align: center;
        margin: 2rem auto;
        font-weight: 600;
        font-size: 14px;
    }
    .gallery-items{
        max-width: 77rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        

        a{
            img{
                width: 18.75rem;
                height: 18.75rem;
            }
                &:hover{
                    translate: transform;
                    transform: scale(98%);
                    transition-duration: 0.5s;
                    opacity: 0.9;
                    filter: brightness(60%);
                }
        }
    }
}

