.my-story{
    display: flex;
    background-color: #ACAF3A;
    height: 345px;
    .my{
        display: flex;
        width: 45%;
        img{
            width: 180px;
            height: 270px;
            margin-left: 9rem;
            margin-top: 2rem;
        }
        h2{
            font-size: 44px;
            font-weight: 600;
            width: 100%;            
            font-family: 'Poppins', sans-serif;
            color: white; 
            margin-top: 3rem;
            margin-left: -2rem;
            text-align: start;
        }
    }
    p{
        font-size: 15px;
        font-style: bold;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.9;
        font-family:sans-serif;
        color: white;
        margin-top:6rem;
    }
    .line{
        border-top: solid white 1px;
        width: 18%;
        margin-bottom: 2rem;
    }
    a{
        font-size: 14px;
        font-family:sans-serif;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }
}